
@{
    ViewBag.Title = "AddProduct";
}

<div class="row">
    <div class="col-md-12" style="min-height:50em">        
        <div class="col-md-12 specialDiv">
            <div class="panel panel-default" style="min-height:300px;">
                <div class="panel-heading">
                    <h3 class="panel-title">Ürün Ekle</h3>
                </div>
                <div class="panel-body">
                    <form action="javascript:Save()">
                        <div class="form-group">
                            <label for="exampleInputFile">File input</label>
                            <input type="file" id="exampleInputFile" accept=".xlsx">
                            <p class="help-block">Sadece Excel dosyası yükleyebilirsiniz.</p>
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        function Save() {
            var data = new FormData();
            var file = document.getElementById("exampleInputFile").files[0];
            data.append("file", file);
            
            return $.ajax({
                type: 'POST',
                url: '/Sale/UploadProduct',
                data: data,
                enctype: 'multipart/form-data',
                processData: false,
                contentType: false,
                cache: false,
                timeout: 600000,
                async: true,
                success: function (response) {
                    if (response.Success) {
                        alert("Yükleme tamamlandı");
                        window.location.href = "/Sale/Index";
                    }
                    else {
                        alert(response.ErrorMessage);
                    }
                },
                error: function (xhr, status, error) {
                    alert("Bir hata oluştu");
                }
            });
        }
    </script>
    }